<!-- Modal -->
<div class="modal fade" id="enigmailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">🔐 Data Ghibli 🔐</h5>
      </div>
      <div class="modal-body">
        <p><i class='bx bx-check-circle'></i><b>Description: </b>{{descriptionEnglish}}</p>
        <p class="mb-2"><b><i class='bx bx-check-circle'></i><span>Technologies: </span></b></p>
        <div class="d-flex flex-wrap justify-content-center">
          <p class="btn btn-secondary mx-2">JavaScript</p>
          <p class="btn btn-secondary mx-2">HTML</p>
          <p class="btn btn-secondary mx-2">CSS3</p>
          <p class="btn btn-secondary mx-2">Git</p>
        </div>
      </div>
      <div class="d-flex links mb-2">
        <a href="https://fio-azahuanche.github.io/LIM016-cipher/src/" class="mx-auto text-decoration-none link-secondary d-flex align-items-center">Demo<i class='bx bx-chevrons-right'></i></a>
        <a href="https://github.com/fio-azahuanche/LIM016-cipher" class="mx-auto text-decoration-none link-secondary d-flex align-items-center">Github<i class='bx bx-chevrons-right'></i></a>
        <a href="https://www.figma.com/file/OWMWBW8LJ93XuTV2MR9ZpC/Cifrado-C%C3%A9sar" class="mx-auto text-decoration-none link-secondary d-flex align-items-center">Figma<i class='bx bx-chevrons-right'></i></a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-color" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

