<div class="navdiv d-flex justify-content-between">
  <p class="logo">{{logo}}</p>
  <nav id="navbar" class="navbar">
    <ul>
      <li><a class="nav-link" [routerLink]="['/home']">Home</a></li>
      <li><a class="nav-link" [routerLink]="['/about']" routerLinkActive="active">About</a></li>
      <li><a class="nav-link" [routerLink]="['/resume']" routerLinkActive="active">Resume</a></li>
      <li><a class="nav-link" [routerLink]="['/skills']" routerLinkActive="active">Skills</a></li>
      <li><a class="nav-link" [routerLink]="['/projects']" routerLinkActive="active">Portfolio</a></li>
      <!-- <li><a class="nav-link" [routerLink]="['/contact']" routerLinkActive="active">Contact</a></li> -->
    </ul>
  </nav>
</div>
<header id="menuHamburger">
  <ul class="d-flex justify-content-between align-items-center list-unstyled">
    <li>
      <p class="logo p-3">{{logo}}</p>
    </li>
    <li class="burger d-lg-none" (click)="toggle()">
      <i id="box-menu" class='bx bx-menu-alt-right p-3'></i>
    </li>
    <li class="menu d-flex align-items-center p-5" [class.is-open]="isOpen">
      <a class="nav-link active" (click)="navigateToHome()">Home</a>
      <a class="nav-link" (click)="navigateToAbout()">About</a>
      <a class="nav-link" (click)="navigateToResume()">Resume</a>
      <a class="nav-link" (click)="navigateToSkills()">Skills</a>
      <a class="nav-link" (click)="navigateToPorfolio()">Portfolio</a>
      <!-- <a class="nav-link" (click)="navigateToContact()">Contact</a> -->
    </li>
  </ul>
</header>
