<!-- ======= About Section ======= -->
<section id="about" class="about d-flex">

  <!-- ======= About Me ======= -->
  <div class="about-me container px-5 py-2">
    <span class="tags">{{taghtml}}</span>
    <br>
    <span class="tags mgtagbody">{{tagbody}}</span>
    <br>
    <span class="tags mgtag">{{tagh2}}</span>
    <br>
    <div class="d-flex align-items-center">
      <h2 class="mgtag">About</h2>
      <div class="line mx-2"></div>
    </div>
    <span class="tags mgtag">{{tag_h2}}</span>

    <!-- <div class="row"> -->
      <div class="pt-4 pt-lg-0 content">
        <span class="tags mgtag">{{tagh3}}</span>
        <h3 class="mgtag">Not your average <span>Frontend Developer</span></h3><span class="tags mgtag">{{tag_h3}}</span>
        <br>
        <span class="tags mgtag">{{tagp}}</span>
        <p class="mx-5">
          I’m a FrontEnd Developer located in Peru. I love to code, <span>create</span> things, <span>solve</span> problems and take on <span>challenges</span>.
          <br>
          <br>
          Besides web development, I’m a Mathematician which allows me to have a <span>logical order</span>.
          <br>
          <br>
          Fan of sunsets and cats. I like traveling, listening to music, reading, photography and watching series.
          <br>
          <br>
          I ready to turn your <span>ideas</span> into <span>reality</span>, feel free to get in touch!
        </p>
        <span class="tags mgtag">{{tag_p}}</span>
      </div>

    <!-- </div> -->
    <span class="tags mgtagbody">{{tag_body}}</span>
    <br>
    <span class="tags">{{tag_html}}</span>
  </div><!-- End About Me -->
  <img src="assets/photo2.png" class="my-auto" alt="">
</section>
