<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
  <div class="container">
    <span class="tags">{{taghtml}}</span>
    <br>
    <span class="tags mgtagbody">{{tagbody}}</span>
    <br>
    <span class="tags mgtag">{{tagh2}}</span>
    <br>
    <div class="d-flex align-items-center">
      <h2 class="mgtag">Portfolio</h2>
      <div class="line mx-2"></div>
    </div>
    <span class="tags mgtag">{{tag_h2}}</span>
    <br>
    <span class="tags mgtag">{{tagh3}}</span>
    <h3 class="resume-title mgtag">My <span>Projects</span></h3><span class="tags mgtag">{{tag_h3}}</span>

    <div class="d-flex">
      <div class="justify-content-center">
        <span class="tags mgtag">{{tagsection}}</span>
        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../../../../assets/coffeequeen.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Coffee Queen</h4>
                <p>Web App</p>
                <div class="portfolio-links">
                  <a type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#coffequeenModal" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Project Details"><i class='bx bx-plus'></i></a>
                  <a (click)="navigate('https://coffeequeen.netlify.app/')" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="" title="Demo"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="../../../../assets/carepets.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>CarePets</h4>
                <p>Web App</p>
                <div class="portfolio-links">
                  <a type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#carepetsModal" class="portfolio-lightbox" title="Project Details"><i class="bx bx-plus"></i></a>
                  <a (click)="navigate('https://fio-azahuanche.github.io/LIM016-social-network/')" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Demo"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../../../../assets/dataghilbli.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Data Ghibli</h4>
                <p>Web App</p>
                <div class="portfolio-links">
                  <a type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#dataghibliModal" class="portfolio-lightbox" title="Project Details"><i class="bx bx-plus"></i></a>
                  <a (click)="navigate('https://fio-azahuanche.github.io/LIM016-data-lovers/src/')" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Demo"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="../../../../assets/mdlinks.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>MdLinks</h4>
                <p>Library</p>
                <div class="portfolio-links">
                  <a type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#mdlinksModal" class="portfolio-lightbox" title="Project Details"><i class="bx bx-plus"></i></a>
                  <a (click)="navigate('https://www.npmjs.com/package/md-links-fioaf')" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Demo"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="../../../../assets/enigmail.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Enigmail</h4>
                <p>Web App</p>
                <div class="portfolio-links">
                  <a type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#enigmailModal" class="portfolio-lightbox" title="Project Details"><i class="bx bx-plus"></i></a>
                  <a (click)="navigate('https://fio-azahuanche.github.io/LIM016-cipher/src/')" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Demo"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../../../../assets/michi.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Michi Virtual</h4>
                <p>Game</p>
                <div class="portfolio-links">
                  <a type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#michiModal" class="portfolio-lightbox" title="Project Details"><i class="bx bx-plus"></i></a>
                  <a (click)="navigate('https://fio-azahuanche.github.io/TicTacToe-game/')" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Demo"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="../../../../assets/women.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Talented Women</h4>
                <p>Game</p>
                <div class="portfolio-links">
                  <a type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#talentedModal" class="portfolio-lightbox" title="Project Details"><i class="bx bx-plus"></i></a>
                  <a (click)="navigate('https://fio-azahuanche.github.io/Memory-match-game/')" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Demo"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="../../../../assets/trivia.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Trivia</h4>
                <p>Game</p>
                <div class="portfolio-links">
                  <a type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#triviaModal" class="portfolio-lightbox" title="Project Details"><i class="bx bx-plus"></i></a>
                  <a (click)="navigate('https://fio-azahuanche.github.io/first-web-page-TRIVIA/')" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Demo"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <span class="tags mgtag">{{tag_section}}</span>
      </div>
    </div>
    <span class="tags mgtagbody">{{tag_body}}</span>
    <br>
    <span class="tags">{{tag_html}}</span>
  </div>
</section><!-- End Portfolio Section -->
<app-coffeequeen-modal></app-coffeequeen-modal>
<app-carepets-modal></app-carepets-modal>
<app-dataghibli-modal></app-dataghibli-modal>
<app-mdlinks-modal></app-mdlinks-modal>
<app-enigmail-modal></app-enigmail-modal>
<app-michi-modal></app-michi-modal>
<app-talented-modal></app-talented-modal>
<app-trivia-modal></app-trivia-modal>
