.skills {
  color: white;
  background: rgba(21, 45, 53, 0.6);
  margin: 1.25rem 3.75rem 1.25rem 3.75rem;
  padding: 10px;
  .line {
    width: 200px;
    height: 0;
    border: 2px solid #219F94;
  }
  .tags {
    color: rgba(255, 255, 255, 0.3);
    font-family: 'La Belle Aurore';
  }
  .mgtagbody{
    margin-left: 15px;
  }
  .mgtag {
    margin-left: 25px;
  }
  .mgtagsection {
    margin-left: 25px;
  }
  .content, .container {
    h3 {
      font-weight: 700;
      font-size: 26px;
      color: white;
      span{
      color: #219F94;
      }
    }
    #photo {
      height: auto;
      position: absolute;
      top: 120px;
      right: 85px;
    }
  }
  .col{
    font-size: 16px;
    .summary {
      color: white;
      width: 350px;
      height: 200px;
      line-height: 25px;
      text-align: justify;
      span {
        color: #219F94;
      }
    }
    .year {
      background-color: rgba(255, 255, 255, 0.6);
      width: 24%;
      padding: 1px;
      text-align: center;
      font-size: 12px;
    }
    .mgcero{
      margin: 0px;
    }
    .p-color{
      color: #219F94;
    }
    .p-italic{
      font-style: italic;
      font-weight: 400;
      font-size: 14px;
    }
  }
  .progressBar {
    margin-left: 2.5rem;
    .progress{
      background-color: #C4C4C4;
      height: 10px;
    }
    .bg-frontend{
      background-color: #219F94;
    }
    .bg-angular{
      background-color: #219F94;
    }
    .bg-react{
      background-color: #219F94;
    }
    .bg-backend{
      background-color: #219F94;
    }
  }

  /*--------------------------------------------------------------
  # Interests
  --------------------------------------------------------------*/
  .interests .icon-box {
    display: flex;
    align-items: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.08);
    transition: ease-in-out 0.3s;
  }
  .interests .icon-box i {
    font-size: 32px;
    padding-right: 10px;
    line-height: 1;
  }
  .interests .icon-box h3 {
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 16px;
    color: #fff;
  }
  .interests .icon-box:hover {
    background: rgba(255, 255, 255, 0.12);
  }

}
