<!-- ======= Skills Section ======= -->
<section id="skills" class="skills">
  <div class="container">
    <span class="tags">{{taghtml}}</span>
    <br>
    <span class="tags mgtagbody">{{tagbody}}</span>
    <br>
    <span class="tags mgtag">{{tagh2}}</span>
    <br>
    <div class="d-flex align-items-center">
      <h2 class="mgtag">Skills</h2>
      <div class="line mx-2"></div>
    </div>
    <span class="tags mgtag">{{tag_h2}}</span>

    <div class="row">
      <div class="col-lg-6 content">
        <span class="tags mgtag">{{tagh3}}</span>
        <h3 class="resume-title mgtag">My <span>Skills</span> as developer</h3><span class="tags mgtag">{{tag_h3}}</span>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-9">
        <span class="tags mgtag">{{tagsection}}</span>
        <div class="progressBar">
          <p>Frontend</p>
          <div class="progress mb-2">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-frontend" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <p>Angular</p>
          <div class="progress mb-2">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-angular" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <p>React</p>
          <div class="progress mb-2">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-react" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <p>Backend</p>
          <div class="progress mb-2">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-backend" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <span class="tags mgtag">{{tag_section}}</span>
      </div>
      <img id="photo" src="../../../../assets/photo3.png" alt="" class="col-3 my-auto">
    </div>

    <!-- ======= Interests ======= -->
    <br>
    <span class="tags mgtag">{{tagsection}}</span>
    <div class="interests container mb-2">
      <h3 class="mgtag mb-3">Tools & Technologies</h3>
      <div class="row">
        <div class="col-lg-3 col-md-4">
          <div class="icon-box">
            <i class='bx bxl-javascript' style="color: #e9e51f;"></i>
            <h3>JavaScript</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
            <i><img src="../../../../assets/logo_typescript.png" alt=""></i>
            <h3>TypeScript</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
            <i class='bx bxl-html5' style="color: #ff9147;"></i>
            <h3>HTML</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
          <div class="icon-box">
            <i class='bx bxl-css3' style="color: #61e7ff;"></i>
            <h3>CSS</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class='bx bxl-nodejs' style="color: #21c74b;"></i>
            <h3>Node</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class='bx bxl-firebase' style="color: #f0b619;"></i>
            <h3>Firebase</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class='bx bxl-git' style="color: #bd1212;"></i>
            <h3>Git</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class='bx bxl-github' style="color: #000000;"></i>
            <h3>GitHub</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i><img src="../../../../assets/logo_bootstrap.png" alt=""></i>
            <h3>Bootstrap</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class='bx bxl-sass' style="color: #f542ec;"></i>
            <h3>Sass</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i><img src="../../../../assets/logo_figma.png" alt=""></i>
            <h3>Figma</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class='bx bxl-visual-studio' style="color: #1d58af;"></i>
            <h3>VSCode</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i><img src="../../../../assets/logo_socket.png" alt=""></i>
            <h3>Socket</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i><img src="../../../../assets/logo_jest.png" alt=""></i>
            <h3>Jest</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class='bx bxl-docker' style="color: #39c7eb;"></i>
            <h3>Docker</h3>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i><img src="../../../../assets/logo_mongo.png" alt=""></i>
            <h3>Mongo DB</h3>
          </div>
        </div>
      </div>
    </div><!-- End Interests -->
    <span class="tags mgtag">{{tag_section}}</span>
    <br>
    <span class="tags mgtagbody">{{tag_body}}</span>
    <br>
    <span class="tags">{{tag_html}}</span>
  </div>
</section><!-- End Skills Section -->
