<!-- Modal -->
<div class="modal fade" id="coffequeenModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">☕ Coffee Queen ☕</h5>
      </div>
      <div class="modal-body">
        <p><i class='bx bx-check-circle'></i><b>Description: </b>{{descriptionEnglish}}</p>
        <p class="mb-2"><b><i class='bx bx-check-circle'></i><span>Technologies: </span></b></p>
        <div class="d-flex flex-wrap justify-content-center">
          <p class="btn btn-secondary mx-2">Angular13</p>
          <p class="btn btn-secondary mx-2">TypeScript</p>
          <p class="btn btn-secondary mx-2">Sass</p>
          <p class="btn btn-secondary mx-2">Bootstrap</p>
        </div>
      </div>
      <div class="d-flex links mb-2">
        <!-- <a href="https://coffeequeen.netlify.app/" class="mx-auto text-decoration-none link-secondary d-flex align-items-center">Demo<i class='bx bx-chevrons-right'></i></a> -->
        <a href="https://github.com/fio-azahuanche/LIM016-burger-queen-api-client/tree/api-client" class="mx-auto text-decoration-none link-secondary d-flex align-items-center">Github<i class='bx bx-chevrons-right'></i></a>
        <a href="https://www.figma.com/file/00pLvm7s24Bmh87um0IvF2/Coffee-Queen" class="mx-auto text-decoration-none link-secondary d-flex align-items-center">Figma<i class='bx bx-chevrons-right'></i></a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-color" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
