@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../node_modules/bootstrap/scss/toasts';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import '~hamburgers/_sass/hamburgers/hamburgers.scss';

$menuBreakpoint: 820px;
$menuHeight: 50px;

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans';
}

body{
  background-color: black;
}

/*--------------------------------------------------------------
# About & Portfolio
--------------------------------------------------------------*/
.about{
  color: white;
  background: rgba(21, 45, 53, 0.6);
  margin: 1.25rem 3.75rem 1.25rem 3.75rem;
  padding: 10px;
  img{
    height: auto;
    margin-right: 6.25rem;
  }
  .about-me , .container{
    margin-left: 3.125rem;
    .line {
      width: 200px;
      height: 0;
      border: 2px solid #219F94;
    }
    .tags {
      color: rgba(255, 255, 255, 0.3);
      font-family: 'La Belle Aurore';
    }
    .mgtagbody{
      margin-left: 15px;
    }
    .mgtag {
      margin-left: 25px;
    }
    .content {
      h3 {
        font-weight: 700;
        font-size: 26px;
        color: white;
        span{
        color: #219F94;
        }
      }
      p {
        color: white;
        width: 450px;
        height: 280px;
        font-size: 18px;
        line-height: 25px;
        text-align: justify;
        span {
          color: #219F94;
        }
      }
    }
    .container {
      h3 {
        font-weight: 700;
        font-size: 26px;
        color: white;
        span{
        color: #219F94;
        }
      }
    }
  }
}
.portfolio{
  color: white;
  background: rgba(21, 45, 53, 0.6);
  margin: 1.25rem 3.75rem 1.25rem 3.75rem;
  padding: 10px;
  .container{
    margin-left: 3.125rem;
    .line {
      width: 200px;
      height: 0;
      border: 2px solid #219F94;
    }
    .tags {
      color: rgba(255, 255, 255, 0.3);
      font-family: 'La Belle Aurore';
    }
    .mgtagbody{
      margin-left: 15px;
    }
    .mgtag {
      margin-left: 25px;
    }
    h3 {
      font-weight: 700;
      font-size: 26px;
      color: white;
      span{
      color: #219F94;
      }
    }
  }
}

.contact {
  color: white;
  background: rgba(21, 45, 53, 0.6);
  margin: 1.25rem 3.75rem 1.25rem 3.75rem;
  padding: 10px;
  .line {
    width: 200px;
    height: 0;
    border: 2px solid #219F94;
  }
  .tags {
    color: rgba(255, 255, 255, 0.3);
    font-family: 'La Belle Aurore';
  }
  .mgtagbody{
    margin-left: 15px;
  }
  .mgtag {
    margin-left: 25px;
  }
  .mgtagsection {
    margin-left: 25px;
  }
  .container {
    h3 {
      font-weight: 700;
      font-size: 26px;
      color: white;
      span{
      color: #219F94;
      }
    }
    .info-box {
      color: #444444;
      padding: 20px;
      width: 100%;
      background: rgba(255, 255, 255, 0.08);
      i.bx {
        font-size: 24px;
        color: #219F94;
        border-radius: 50%;
        padding: 14px;
        float: left;
        background: rgba(255, 255, 255, 0.1);
      }
      h3 {
        font-size: 20px;
        color: rgba(255, 255, 255, 0.5);
        font-weight: 700;
        margin: 10px 0 8px 68px;
      }
      p {
        padding: 0;
        color: #fff;
        line-height: 24px;
        font-size: 14px;
        margin: 0 0 0 68px;
      }
      .social-links {
        margin: 5px 0 0 68px;
        display: flex;
        a {
          font-size: 18px;
          display: inline-block;
          line-height: 1;
          margin-right: 12px;
          transition: 0.3s;
          i {
            color: white;
            border-radius: none;
            padding: 0px;
            background:inherit;
          }
          i:hover {
            color: #219F94;
          }
        }

      }


    }

  }

}
.modal-content{
  background-color: rgba(0, 0, 0, 0.9);
  color: rgb(228, 226, 226);
  margin-top: 20%;
  .modal-header, .modal-footer{
    .btn-color{
      background-color: rgb(10, 116, 107);
      border: none;
    }
  }
  .links {
    a{

      color: rgb(10, 116, 107);
      color: rgb(228, 226, 226);
      i{
        font-size: 1rem;
        transition: .4s;
      }
    }
    a:hover {
      color: rgb(10, 116, 107);
    }
  }
  .modal-body {
    .sizeFont {
      font-size: 0.625rem;
      font-style: italic;
    }
  }
}


@media (max-width: 1366px) {
  main {
    .first-photo {
      height: 500px !important;
    }
  }
}

@media (max-width: 1180px) {
  main {
    section {
      padding: 80px;
    }
    .first-photo {
      height: auto;
    }
  }
  .resume{
    .summary{
      width: 210px !important;
    }
  }
  .skills{
    #photo{
      top: 210px !important;
      right: 50px !important;
    }
  }
}

@media (max-width: 1024px) {
  main {
    .first-photo {
      height: auto;
    }
    section {
      padding: 40px;
    }
  }
  .about{
    img{
      position: absolute;
      right: -50px;
      top: 25%;
      height: 500px;
      z-index: 1;
    }
  }
  .resume{
    .summary{
      width: 200px !important;
    }
  }
  .skills{
    #photo{
      top: 270px !important;
      right: 50px !important;
    }
  }
  .portfolio{
    margin: 1.25rem 2rem 1.25rem 2rem !important;
    padding: 15px !important;
    .container{
      margin-left: 0;
    }
  }
}

@media (max-width: 992px) {

  main {
    #bx-menu{
      font-size: 40px;
    }
    section {
      padding: 150px;
    }
    .first-photo {
      position: absolute;
      right: 0px;
      top: 20%;
      z-index: 1;
    }
    .navHome {
      display: none;
    }
  }
}

@media (max-width: 820px) {
  main {
    .logoPrincipal{
      display: none;
    }
    #menuHamburger{
      display: block !important;
      ul{
          margin: 0;
          padding: 0;
          color:white;
          a{
            color: white;
            font-size: 20px;
          }
          a:hover, a:active{
            background-color: rgba(255, 255, 255, 0.6) !important;
            border-radius: 10px;
            color: black;
          }
          .logo{
            font-family: 'Monoton';
            font-style: normal;
            font-size: 30px;
            margin-bottom: 0;
          }
          .menu{
            @media (max-width: $menuBreakpoint) {
              display: none !important;
            }
            &.is-open{
              display: block !important;
              position: absolute;
              top: 0;
              right: 0;
              background-color: #000000d7;
              width: 100%;
              height: 100%;
              z-index: 5;
            }
          }
          #box-menu {
            font-size: 40px;
          }

      }
    }
    section {
      padding: 100px;
    }
    .first-photo {
      top: 40%;
      left: 350px;
    }
  }
  .about{
    margin: 5rem 2rem;
    height: 800px;
    .about-me, .container {
      margin: 0;
      padding: 2rem !important;
    }
    img{
      position: absolute;
      right: -110px;
      top: 32%;
      height: 500px;
      z-index: 1;
    }
  }
  .resume{
    .summary{
      width: 270px !important;
    }
    .year{
      width: 40% !important;
    }
    .education{
      img{
        height: 200px;
      }
    }
  }
  .skills{
    #photo{
      top: 350px !important;
      right: 50px !important;
    }
  }
}

@media (max-width: 768px) {
  main {
    section {
      padding: 120px;
    }
    .first-photo {
      height: 450px !important;
      top: 35%;
      left: 450px;
    }
  }
  .about{
    margin: 3rem 1rem;
    height: 800px;
    .about-me, .container {
      margin: 30px 0px;
      padding: 10px 40px 10 40px !important;
      .content {
        h3 {
          font-weight: 700;
          font-size: 24px;
          color: white;
          span{
          color: #219F94;
          }
        }
        p {
          color: white;
          width: 320px;
          height: 250px;
          font-size: 14px;
          line-height: 20px;
          text-align: justify;
        }
      }
    }
    img{
      position: absolute;
      left: 415px;
      top: 30%;
      height: 500px;
      z-index: 1;
    }
  }
  .resume{
    .year{
      width: 40% !important;
    }
  }

}

@media (max-width: 414px) {
  main {
    background-image: url('./assets/diag-phone.png');
    background-repeat: no-repeat;
    height: 100vh;
    section {
      padding: 70px !important;
      h1{
        font-weight: 700;
        font-size: 30px !important;
        margin-left: 25px;
      }
      p{
        font-size: 20px !important;
        font-weight: 600;
        margin-left: 25px;
        span {
          border-bottom: 2px solid #219F94;
        }
      }
    }
    .first-photo {
      height: 300px !important;
      left: 0;
      top: 60%;
    }
  }
  .about{
    margin: 1.25rem 2rem 1.25rem 2rem;
    padding: 0;
    .about-me{
      margin: 0px;
      padding: 10px !important;
      .content{
        h3{
          font-size: medium;
        }
        p{
          color: white;
          width: 200px;
          height: 225px;
          font-size: 12px;
          line-height: 15px;
          text-align: justify;
        }
      }
    }

    img{
      position: absolute;
      left: 204px !important;
      bottom: -200px !important;
      height: 300px;
      z-index: 1;
    }
  }
  .resume{
    margin: 1.25rem 2rem 1.25rem 2rem !important;
    padding: 0 !important;
    .container{
      padding: 10px;
    }
    .divsummary{
      margin: 0 !important;
      .summary{
        width: 270px !important;
        line-height: 20px !important;
        text-align: justify !important;
        font-size: 14px !important;
      }
      ul{
        font-size: medium;
      }
    }
    .education{
      ul{
        font-size: medium;
      }
      img{
        height: auto;
      }
    }
  }
  .skills{
    margin: 1.25rem 2rem 1.25rem 2rem !important;
    padding: 0 !important;
    #photo{
      width: auto;
      height: 250px !important;
      top: 45% !important;
      right: 0px !important;
    }
  }
  .portfolio{
    margin: 1.25rem 2rem 1.25rem 2rem !important;
    padding: 0 !important;
    .container{
      margin-left: 0;
    }
  }
  .contact{
    margin: 1.25rem 2rem 1.25rem 2rem !important;
    padding: 0 !important;
    .container{
      margin-left: 0;
    }
  }

}
@media (max-width: 390px) {
  main {
    background-image: url('./assets/diag-phone.png');
    background-repeat: no-repeat;
    height: 100vh;
    section {
      padding: 10px 50px 10px 50px !important;
      h1{
        font-weight: 700;
        font-size: 25px !important;
        margin-left: 25px;
      }
      p{
        font-size: 18px !important;
        font-weight: 600;
        margin-left: 25px;
        span {
          border-bottom: 2px solid #219F94;
        }
      }
    }
    .first-photo {
      height: 280px !important;
      top: 61%;
    }
  }
  .about{
    img{
      position: absolute;
      left: 100px !important;
      bottom: -50px !important;
      height: 280px;
    }
  }
}
@media (max-width: 360px) {
  .about{
    img{
      height: 250px;
      bottom: -590px !important;
    }
  }
  .resume{
    .container{
      padding: 10px;
    }
    .divsummary{
      margin: 0 !important;
      .summary{
        width: 200px !important;
        line-height: 20px !important;
        text-align: justify !important;
        font-size: 12px !important;
      }
      ul{
        font-size: small;
      }
    }
    .education{
      p{
        font-size: 12px;
      }
      ul{
        font-size: small;
      }
    }
    .year{
      width: 40% !important;
    }

  }
  .skills{
    #photo{
      width: auto;
      height: 230px !important;
      top: 75% !important;
      right: 0px !important;
    }
  }

}

@media (max-width: 280px) {
  main {
    section {
      padding: 5px 0px 5px 0px !important;
      h1{
        font-weight: 700;
        font-size: 20px !important;
        margin-left: 20px;
      }
      p{
        font-size: 16px !important;
        font-weight: 600;
        margin-left: 20px;
        span {
          border-bottom: 2px solid #219F94;
        }
      }
    }
    .first-photo {
      height: 200px !important;
      top: 67%;
      z-index: -1 !important;
    }
  }
  .about{
    margin: 1rem !important;
    .about-me {
      p{
        margin: 0 20px 15px 20px !important;
        width: 180px !important;
      }
    }
    img{
      height: 250px;
      bottom: -670px !important;
    }
  }
  .resume{
    margin: 1rem !important;
    .container{
      padding: 10px;
    }
    .divsummary{
      margin: 0 !important;
      .summary{
        width: 200px !important;
        line-height: 20px !important;
        text-align: justify !important;
        font-size: 12px !important;
      }
      ul{
        font-size: small;
      }
    }
    .education{
      p{
        font-size: 12px;
      }
      ul{
        font-size: small;
      }
    }
    .year{
      width: 40% !important;
    }

  }
  .skills{
    margin: 1rem !important;
    .container{
      h3{
        font-size: 16px !important;
      }
    }
    #photo{
      width: auto;
      height: 210px !important;
      top: 65% !important;
      right: -18px !important;
    }
  }
  .portfolio{
    margin: 1rem !important;
  }
  .contact{
    margin: 1rem !important;
  }

}
