<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
  <div class="container">
    <span class="tags">{{taghtml}}</span>
    <br>
    <span class="tags mgtagbody">{{tagbody}}</span>
    <br>
    <span class="tags mgtag">{{tagh2}}</span>
    <br>
    <div class="d-flex align-items-center">
      <h2 class="mgtag">Resume</h2>
      <div class="line mx-2"></div>
    </div>
    <span class="tags mgtag">{{tag_h2}}</span>

    <div class="row">
      <div class="col-lg-6 content">
        <span class="tags mgtag">{{tagh3}}</span>
        <h3 class="resume-title mgtag">Check my <span>resume</span></h3><span class="tags mgtag">{{tag_h3}}</span>
      </div>
    </div>
    <div class="container">
      <div class="row align-items-start">
        <div class="divsummary col mx-3">
          <span class="tags">{{tagsection}}</span>
          <br>
          <span class="tags">{{tagh4}}</span>
          <h4>Summary</h4>
          <span class="tags">{{tag_h4}}</span>
          <div class="d-flex">
            <img src="../../../../assets/line.png" alt="" class="m-2">
            <div>
              <p class="summary"><span>FrontEnd Developer</span> and Bachelor’s degree in <span>Mathematics</span>, I like to learn new programming languages and always looking for new technological trends. I am passionate
                about everything that challenges my knowledge, because I consider it a form of motivation to <span>keep learning</span>.</p>
              <ul class="mgcero">
                <li>fazahuanchef@gmail.com</li>
                <li>(+51) 961093202</li>
                <li>Lima, Peru</li>
              </ul>
            </div>
          </div>
          <span class="tags">{{tag_section}}</span>
        </div>
        <div class="col">
          <span class="tags">{{tagsection}}</span>
          <br>
          <span class="tags">{{tagh4}}</span>
          <h4>Education</h4>
          <span class="tags">{{tag_h4}}</span>
          <div class="d-flex">
            <img src="../../../../assets/line.png" alt="" class="m-2">
            <div>
              <div class="mgcero">
                <p class="mgcero p-color">FRONTEND DEVELOPER</p>
                <p class="year mgcero">2021-2022</p>
                <p class="mgcero p-italic">Bootcamp Laboratoria</p>
              </div>
              <div class="mgcero">
                <img src="" alt="">
                <p class="mgcero p-color">SPECIALIZATION IN MACHINE LEARNING</p>
                <p class="year mgcero">2021</p>
                <p class="mgcero p-italic">Universidad Nacional de Ingeniería</p>
              </div>
              <div class="mgcero">
                <img src="" alt="">
                <p class="mgcero p-color">BACHELOR OF MATHEMATICS</p>
                <p class="year mgcero">2015-2021</p>
                <p class="mgcero p-italic">Universidad Nacional Mayor de San Marcos</p>
              </div>
            </div>
          </div>
          <span class="tags">{{tag_section}}</span>
        </div>
        <div class="col">
          <span class="tags">{{tagsection}}</span>
          <br>
          <span class="tags">{{tagh4}}</span>
          <h4>Courses and Languages</h4>
          <span class="tags">{{tag_h4}}</span>
          <div class="education d-flex">
            <img src="../../../../assets/line.png" alt="" class="m-1">
            <ul>
              <li>Introduction to web development II <span class="p-color">(Google Actívate)</span></li>
              <li>Intro to Machine Learning <span class="p-color">(Kaggle)</span></li>
              <li>Introduction to Python and Statistics <span class="p-color">(Data Science Research Peru)</span></li>
              <li>Excel Specialist <span class="p-color">(IDAT)</span></li>
              <li>Microsoft SQL server <span class="p-color">(Datux Perú)</span></li>
              <li>English <span class="p-color">(intermediate)</span></li>
              <li>Quechua <span class="p-color">(basic)</span></li>
              <li>Spanish <span class="p-color">(native)</span></li>
            </ul>
          </div>
          <span class="tags">{{tagsection}}</span>
        </div>
      </div>
    </div>
    <span class="tags mgtagbody">{{tag_body}}</span>
    <br>
    <span class="tags">{{tag_html}}</span>
  </div>
</section><!-- End Resume Section -->
