<main class="main d-flex">
  <p class="logo">{{logo}}</p>
  <section class="sectiontext pt-5 my-auto">
    <span class="tags">{{taghtml}}</span>
    <br>
    <span class="tags mgtagbody">{{tagbody}}</span>
    <br>
    <span class="tags mgtag">{{tagh1}}</span>
    <h1>Fiorela Azahuanche</h1><span class="tags mgtag">{{tag_h1}}</span>
    <br>
    <span class="tags mgtag">{{tagp}}</span>
    <p><span>Frontend Developer</span> and Mathematician</p>
    <span class="tags mgtag">{{tag_p}}</span>
    <br>
    <span class="tags mgtag">{{tagnav}}</span>
    <nav id="navbar" class="navbar">
    <ul class="mgtag">
      <li><a class="nav-link active">Home</a></li>
      <li><a class="nav-link" (click)="navigateToAbout()">About</a></li>
      <li><a class="nav-link" (click)="navigateToResume()">Resume</a></li>
      <li><a class="nav-link" (click)="navigateToSkills()">Skills</a></li>
      <li><a class="nav-link" (click)="navigateToPorfolio()">Portfolio</a></li>
      <li><a class="nav-link" (click)="navigateToContact()">Contact</a></li>
    </ul>
    </nav>
    <span class="tags mgtag">{{tag_nav}}</span>
    <div class="container d-flex my-2">
      <a href="https://www.linkedin.com/in/fiorela-azahuanche/" class="d-flex justify-content-center"><img src="../../../../assets/linkedin.png" alt="my linkedin's url"></a>
      <a href="https://github.com/fio-azahuanche" class="d-flex justify-content-center"><img src="../../../../assets/github.png" alt="my github's url"></a>
    </div>
    <span class="tags mgtagbody">{{tag_body}}</span>
    <br>
    <span class="tags">{{tag_html}}</span>
  </section>
  <img src="../../../../assets/photo1.png" alt="first photo" class="my-auto mx-auto">
</main>
