<main class="main d-flex flex-column">
  <p class="logoPrincipal">{{logo}}</p>
  <header id="menuHamburger">
    <ul class="d-flex justify-content-between align-items-center list-unstyled">
      <li>
        <p class="logo p-3">{{logo}}</p>
      </li>
      <li class="burger d-lg-none" (click)="toggle()">
        <i id="box-menu" class='bx bx-menu-alt-right p-3'></i>
      </li>
      <li class="menu d-flex align-items-center p-5" [class.is-open]="isOpen">
        <a class="nav-link active" (click)="navigateToHome()">Home</a>
        <a class="nav-link" (click)="navigateToAbout()">About</a>
        <a class="nav-link" (click)="navigateToResume()">Resume</a>
        <a class="nav-link" (click)="navigateToSkills()">Skills</a>
        <a class="nav-link" (click)="navigateToPorfolio()">Portfolio</a>
        <a class="nav-link" (click)="navigateToContact()">Contact</a>
      </li>
    </ul>
  </header>
  <div class="d-flex">
    <section class="my-auto mx-auto">
      <span class="tags">{{taghtml}}</span>
      <br>
      <span class="tags mgtagbody">{{tagbody}}</span>
      <br>
      <span class="tags mgtag">{{tagh1}}</span>
      <h1>Hi, I'm Fiorela Azahuanche</h1><span class="tags mgtag">{{tag_h1}}</span>
      <br>
      <span class="tags mgtag">{{tagp}}</span>
      <p><span>Frontend Developer</span> and Mathematician</p>
      <span class="tags mgtag">{{tag_p}}</span>
      <br>
      <span class="navHome tags mgtag">{{tagnav}}</span>
      <nav id="navbar" class="navHome navbar">
        <ul class="mgtag">
          <li><a class="nav-link active">Home</a></li>
          <li><a class="nav-link" (click)="navigateToAbout()">About</a></li>
          <li><a class="nav-link" (click)="navigateToResume()">Resume</a></li>
          <li><a class="nav-link" (click)="navigateToSkills()">Skills</a></li>
          <li><a class="nav-link" (click)="navigateToPorfolio()">Portfolio</a></li>
          <li><a class="nav-link" (click)="navigateToContact()">Contact</a></li>
          </ul>
      </nav>
      <span class="navHome tags mgtag">{{tag_nav}}</span>
      <div class=" navHome container d-flex my-2 social-links">
        <a href="https://drive.google.com/file/d/1c5A01HosA3xPHijJb3--x8qq1x0-mGv9/view?usp=sharing" class="d-flex justify-content-center" title="Download CV"><i class='bx bxs-file-pdf'></i></a>
        <a href="https://www.linkedin.com/in/fiorela-azahuanche/" class="d-flex justify-content-center" title="Linkedin"><i class='bx bxl-linkedin'></i></a>
        <a href="https://github.com/fio-azahuanche" class="d-flex justify-content-center" title="Github"><i class='bx bxl-github'></i></a>
      </div>
      <span class="tags mgtagbody">{{tag_body}}</span>
      <br>
      <span class="tags">{{tag_html}}</span>
    </section>
    <img src="../../../../assets/photo1.png" alt="first photo" class="first-photo my-auto mx-auto">
  </div>

</main>
